<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <h1>"This HTML code is inside of a '.erb' file"<h1>
    </body>
</html> 